<style>
  .video-height-ar{
   height: 100vh;
    object-fit:cover;
    width:100%;
    object-position:top;
  }
  .vid-wrapper-ar{
    position:relative;
  }
  .pos-abs-ar{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  /*text-  */
  .secti-video-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  .video-section {
    width: 50%;
    margin: 20px;
}
  .text-main {
    width: 50%;
    margin: 20px;
}

  @keyframes zoom-in-outss {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
  @media screen and (max-width:768px){
    .video-height-ar{
    max-height:500px;
min-height:470px;
    }
.wrapper-text-ar-vid {
}
     .new-button-ar-{{ section.id }} a{
       margin:0 auto;
     }
     .secti-video-text {
       display:block;
     }
      .video-section {
    width: 90%;
}
  .text-main {
    width: 90%;
}
  }

</style>
 <div class="page-width">
   <div class="secti-video-text"> 
     <div class="video-section">
        <div class="wrapper-vid-ar">
          <div style="text-align:center;">
            {% if section.settings.video-ar != blank %}
              <div class="vid-wrapper-ar" style="text-align:center;">
               <video class="video-height-ar" style="display:block; margin: 0 auto; width:100%; " loop autoplay muted playsinline  data-wf-ignore="true" data-object-fit="cover">
                 <source src="{{ section.settings.video-ar }}" data-wf-ignore="true" type="video/mp4" />
               </video>
              </div>
            {% endif %}
           </div>
         </div> 
     </div>
      <div class="text-main">
          {% if section.settings.heading != blank %}
            <h2 class="tit">{{ section.settings.heading }}</h2>
          {% endif %}
          {% if section.settings.text != blank %}
             <div class="rich-new">{{ section.settings.text }}</div>
          {% endif %}
      </div>  
   </div>
 </div>
{% schema %}
  {
    "name": "Video with Text",
	"class": "video-banner",
    "settings": [
	{
  "type": "text",
  "id": "video-ar",
  "label": "Video URL mp4",
  "default": "mp4 Video URL"
},
     {
    "type": "inline_richtext",
    "id": "heading",
    "default": "Talk about your brand",
    "label": "Heading"
  },
      {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "Rich Text"
        }

    ],
	"presets": [
		{
		  "name": "Video with Text",
		  "blocks":[
				
			]
		}
	]
  }
{% endschema %}